/* ===========================
   CSS para Cafeteria Lumi
   =========================== */

/* ===========================
   Estilos Globais
   =========================== */
   body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #974f28;
    color: #fff;
    padding: 15px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #974f28;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    width: 60px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaço entre a logo e o título */
}

main {
    padding: 20px;
}

/* ===========================
   Home (index.html)
   =========================== */
#home .hero {
    position: relative;
    color: #333;
    text-align: center;
    padding: 30px 20px;
    height: 300px; /* Aumente a altura para acomodar a imagem e o texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/cafe-hero.png') no-repeat center center/cover;
    background-size: 30%;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

#home .hero h2 {
    margin: 0;
    padding: 100px 0; /* Ajuste o espaçamento conforme necessário */
}

#home .hero p {
    margin: 0;
    padding: 100px 0; /* Ajuste o espaçamento conforme necessário */
}

#home .features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#home .feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

/* ===========================
   Carrossel (index.html)
   =========================== */
   #carousel {
    text-align: center;
    margin: 2rem 0;
    position: relative; /* Adiciona posição relativa ao contêiner do carrossel */
}

.carousel {
    display: flex;
    overflow: hidden;
    justify-content: center; /* Centraliza o carrossel */
}

.carousel-item {
    min-width: auto; /* Ajusta a largura das imagens */
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 150px; /* Define a largura das imagens */
    height: 200px; /* Define a altura das imagens */
    border-radius: 8px;
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Garante que os botões fiquem acima das imagens */
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}


/* ===========================
   Cardápio (menu.html)
   =========================== */
#menu .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#menu .menu-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    cursor: pointer;
}

#menu .menu-item img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

#menu .menu-item img:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

#popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* ===========================
   Eventos (events.html)
   =========================== */
#events .events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#events .event {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

#events .event img {
    max-width: 100%;
    border-radius: 8px;
}

/* ===========================
   Contato (contato.html)
   =========================== */
#contato {
    text-align: center;
    margin: 2rem 0;
}

#contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

#contato form label {
    margin-top: 10px;
}

#contato form input,
#contato form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contato form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contato form button:hover {
    background-color: #34495e;
}

a {
    font-size: 50px;
    color: green;
}